.information{
  margin-top: 32px;
}

.information p{
  margin-bottom: 8px;
font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 21px;
color: #0A0A0A;
}
input {
  width:100%  ;
  height: 48px;
  padding-left: 10px;
  border-radius: 8px;
  border: 1px solid #EBEBEB;
  outline:  none;
  margin-bottom: 16px;
}
.active-input{border: 1px solid #3C97AF}
.information .password{
  position: relative; 
  width: 100% ;
  display: flex;
  align-items:center;
}
.information .password input {
   
  padding-right: 40px; 
}

.information .password span{
  position: absolute;
  right: 10px;
  top: 12px;
  width: 24px;
  cursor: pointer;
}

.margin{
  margin: auto;
  margin-top: 215px;
}