header {
    border-bottom: 1px solid #eee;
  }
  
  header .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
  }
  
  header .logo img {
    width: 92px;
  }
  
  header .menu a {
    font-size: 18px;
    margin-left: 26px;
  }
  
  header .menu .active{
      color: #0000ff;
  }
  