* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #fcfcff;
}

.container {
  height: 120px;
  max-width: 1340px;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
}

.menu .btn1 {
  max-width: 132px;
  height: 44px;
  padding: 10px 15px 10px 15px;
  border-radius: 32px;
  background: #f1f1fd;
  font-size: 16px;
  font-weight: 500;
  border: none;
}
.btn2 {
  max-width: 90px;
  height: 44px;
  padding: 10px 15px 10px 15px;
  border-radius: 32px;
  background: #fcfcff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #202142;
  border: none;
}
.signin .btn2 {
  color: black;
  font-weight: bold;
}
.signin .signup {
  max-width: 120px;
  height: 54px;
  padding: 15px 30px 15px 30px;
  border-radius: 10px;
  background-color: #202142;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}
.more {
  display: none;
}
.title {
  height: 427px;
  background-color: #fcfcff;
}
.title .container {
  flex-direction: column;
  margin: auto;
  position: relative;
}
.title .day {
  left: 0;
  position: absolute;
  font-size: 16px;
  font-weight: 600;
  color: #ff6a95;
  padding: 18px;
}
.title .text {
  margin-top: 90px;
  margin-bottom: 38px;
}
.title h1 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
  color: #202142;
}

.title p {
  max-width: 580px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}
.title .search {
  width: 651px;
  height: 74px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #efefff;
  box-shadow: 0px 16px 35px -15px #02058426;
  max-width: 651px;
  height: 74px;
  border-radius: 10px;
  background-color: #ffffff;
}
.title .dropdown {
  width: 165px;
  height: 54px;
  background-color: #ffffff;
  padding: 11px 15px 11px 15px;
  border-radius: 7px;
  border: none;
  display: flex;
  align-items: center;
}
.title .line {
  width: 1px;
  height: 54px;
  background: #efefff;
}
.title .search input {
  border: none;
  background-color: #ffffff00;
}
.title .search .searchicon {
  width: 30px;
}

.list {
  max-width: 236px;
  height: 61px;

  padding: 5px;
  gap: 10px;
  border-radius: 70px;
  background-color: #fcfcff;
  border: 1px solid #efefff;
}
.list .latest {
  width: 107px;
  height: 51px;
  padding: 15px 30px 15px 30px;

  border-radius: 45px;
  border: 1px solid #efefff;
  box-shadow: 0px 10px 15px -10px #0205840d;
}
.list .popular {
  background-color: #fcfcff;
  max-width: 119px;
  height: 51px;
  padding: 15px 30px 15px 30px;
  border-radius: 70px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.08px;
  text-align: left;
  border: none;
  color: #202142;
}
.screen {
  display: flex;
  align-items: center;
}
.screen .btn3 {
  max-width: 49px;
  height: 44px;
  padding: 10px 15px 10px 15px;
  border-radius: 32px;
  border: 1px solid #efefff;
}
.screen .btn4 {
  max-width: 67px;
  height: 44px;
  padding: 10px 15px 10px 15px;
  border-radius: 32px;
}

.apps {
  display: flex;
  align-items: center;
}

.img {
  width: 61px;
  height: 61px;
  border-radius: 70px;
  border: 1px solid #efefff;
  background-color: #fcfcff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.apps .img img {
  max-width: 29px;
}
.apps .img2 {
  border: 1px solid #efefff;
  background-color: #fcfcff;
  border: 1px solid #ff6a95;
}
.apps .img2 .arrow{
  display: none;
}
.designs {
  margin-top: 200px;
}
.card {
  position: relative;
}
.card .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .img {
  position: absolute;
  top: 20px;
  left: 20px;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
}
.code {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.code p {
  margin-right: 20px;
}

.profile .name {
  font-weight: bold;
}
.all{display: none;}
@media screen and (max-width: 768px) {
  .container {
    height: 100px;
    width: 640px;
  }
  header .menu .btn1,
  .btn2,
  .signup {
    display: none;
  }
  .more {
    display: block;
    width: 70px;
    height: 40px;
    border-radius: 10px;
    background-color: #202142;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    border: none;
  }
  .all {
    display: flex;
    align-items: center;
    border: none;
    max-width: 67px;
    height: 51px;
    padding: 10px 15px 10px 15px;
    border-radius: 32px;
  }
  .btn3,
  .btn4 {
    display: none;
  }
  .designs {
    margin-top: 50px;
  }
  .designs .container{
    flex-direction: column;
    gap: 40px;
  }
}

@media screen and (max-width: 640px) {
.container{
  max-width: 600px;
}
.apps .img{
  display: none;
}
.apps .img2{
  display: flex;
}
.apps .img2 .arrow{
  display: block;
}
.title .search{
  width: 100%;
}
}
