* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
  background-color: #f9fbfc;
}
header {
  background-color: #f2f7ff;
}
.container {
  max-width: 1250px;
  margin: auto;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
  max-width: 1110px;
  margin: auto;
}

.content .menu {
  display: flex;
  gap: 40px;
}
.content .menu a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #6c87ae;
  text-decoration: none;
}
.content .menu .beranda {
  color: #3a8ef6;
}
.register {
  display: flex;
  gap: 8px;
  background: linear-gradient(96.14deg, #3a8ef6 -10.84%, #6f3afa 196.74%);
  border: none;
  border-radius: 100px;
  padding: 16px 28px;
  padding-bottom: 17px;
  align-items: center;
  color: #ffffff;
  font-size: 18px;
  box-shadow: 0px 8px 23px 0px #4184f73d;
}
button {
  transition: 0.3s;
}

button:hover {
  opacity: 0.6;
}
button:active {
  opacity: 0;
}
.stuff {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin: auto;
  gap: 61px;
}
.stuff .title h1 {
  font-size: 40px;
  background: linear-gradient(96.14deg, #3a8ef6 -10.84%, #6f3afa 196.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 16px;
}
.subtitle {
  color: #6c87ae;
  font-size: 16px;
  margin-bottom: 40px;
}

.stuff .thing {
  width: 522px;
}

.partner {
  align-items: center;
  margin: auto;
  background-color: #e2edff;
  padding: 48px;
}
.partner h3 {
  text-align: center;
  color: #031432;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 24px;
}
.partner .photos {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1050px;
  align-items: center;
}
.h {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 120px;
  gap: 60px;
}
.h h1 {
  font-size: 32px;
}
.h p {
  font-size: 16px;
  color: #6c87ae;
}

.cards {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 36px;
}

.cards .card {
  height: 346px;
  width: 341px;
  box-shadow: 0px 24px 32px -3px #0309320a;
  border-radius: 24px;
  margin: auto;
  align-items: center;
}
.card .card-info {
  margin: auto;
  max-width: 282px;
  padding: 0 40px;
  margin-bottom: 24px;
}

.cards .card img {
  margin-bottom: 24px;
}

.cards .card h1 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 12px;
}
.cards .card .card-sub {
  color: #6c87ae;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.reserve {
  display: flex;
  gap: 44px;
  background: linear-gradient(96.14deg, #3a8ef6 -10.84%, #6f3afa 196.74%);
  border: none;
  border-radius: 100px;
  padding: 16px 28px;
  padding-bottom: 17px;
  align-items: center;
  color: #ffffff;
  font-size: 18px;
  box-shadow: 0px 8px 23px 0px #4184f73d;
  width: 282px;
  height: 56px;
  margin: auto;
}
.reserve img {
  margin: auto;
  margin-right: 0;
  margin-left: 0;
  width: 24px;
}

.div2 {
  margin-top: 144px;
}
.div2 .info {
  width: 485px;
  margin-left: 42px;
}
.info1{
  display: none;
}
.div2 .info h1 {
  font-size: 32px;
  font-weight: 600;
  color: #031432;
  margin-bottom: 16px;
}
.div2 .info .reserve {
  width: 178px;
  gap: 8px;
}
.image {
  position: relative;
}
.div2 .image .bigimg {
  width: 518px;
}
.id {
  width: 251px;
  height: 70px;
  box-shadow: 0px 12px 32px 0px #3f80f014;
  position: absolute;
  top: 289px;
  left: 332px;
  background-color: #ffffff;
}
.id .row {
  display: flex;
  align-items: center;
}
.id .row h6 {
  font-size: 16px;
}

.div1 {
  margin-top: 144px;
}
.div1 .info {
  width: 485px;
  margin-left: 42px;
}
.div1 .info h1 {
  font-size: 32px;
  font-weight: 600;
  color: #031432;
  margin-bottom: 16px;
}
.div1 .info .reserve {
  width: 178px;
  gap: 8px;
}

.div3 {
  margin: auto;
  max-width: 1110px;
  height: 329px;
  margin-top: 136px;
  height: 329px;
  background: linear-gradient(96.14deg, #3a8ef6 -10.84%, #6f3afa 196.74%);
  border-radius: 32px;
  box-shadow: 0px 20px 24px 0px #4184f73d;
  margin-bottom: 136px;
}
.div3 .content {
  flex-direction: column;
  max-width: 676px;
  height: 201px;
}
.div3 h1 {
  margin-top: 64px;
  font-size: 32px;
  text-align: center;
  margin-bottom: 16px;
  color: #ffffff;
}
.div3 .subtitle {
  font-size: 16px;
  text-align: center;
  margin-bottom: 40px;
  color: #ffffff;
}
.div3 .flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.div3 .schedule {
  background-color: #00000000;
  border: 1px solid #ffffff;
  box-shadow: 0px 8px 23px 0px #4184f73d;
  color: #ffffff;
  display: flex;
  align-items: center;
  width: 264px;
  height: 56px;
  align-items: center;
  display: flex;
  padding: 16px 28px;
  gap: 10px;
  font-weight: 600;
  border-radius: 100px;
}
.div3 .flex .reserve {
  width: 178px;
  gap: 8px;
  background: none;
  background-color: #ffffff;
  color: #3a8ef6;
  font-size: 18px;
  font-weight: 600;
}

.testimony .content {
  flex-direction: column;
}
.testimony .testimony-title {
  text-align: center;
  max-width: 676px;
}
.testimony .testimony-title h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  margin-bottom: 16px;
}

.testimony .survey {
  width: 535px;
  height: 288px;
  padding: 32px 0px 0px 0px;
  gap: 40px;
  border-radius: 32px 0px 0px 0px;
  box-shadow: 0px 24px 32px -3px #0309320a;
}
.testimony .survey .frame {
  display: flex;
  flex-direction: column;
  width: 471px;
  height: 224px;
  gap: 32px;
}
.testimony .survey .review {
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  line-height: 30px;
}

.testimony .survey .user {
  display: flex;
  align-items: center;
  width: 282px;
  height: 72px;
  gap: 16px;
}
.testimony .survey .user .name h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: #3a8ef6;
}
.testimony .survey .user .name p {
  margin-top: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.16px;
}
.footer {
  align-items: center;
  background: #0a0e31;
}
.footer .content {
  flex-direction: column;
}
.footer .company-info {
  margin: auto;
  margin-top: 64px;
  align-items: center;
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
}
.company-info .footer-logo {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 169px;
  gap: 24px;
  margin-right: 82px;
}
.company-info .footer-logo img {
  max-width: 172px;
}
.footer .company-info .address {
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 24px;
  color: #ffffff;
}
.company-info .social {
  display: flex;
  width: 160px;
  justify-content: space-between;
}
.company-info .social img {
  width: 32px;
}

.other-info {
  color: #ffffff;
  display: flex;
  gap: 122px;
}
.other-info h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 24px;
}
.other-info p {
  font-size: 16px;
  line-height: 20.16px;
  margin-bottom: 16px;
}
.footer .line {
  border: 1px solid #ffffff;
  width: 100%;
  opacity: 0.6;
}

.footer .copyright {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.16px;
  color: #ffffff;
  margin-top: 40px;
  margin-bottom: 48px;
}

.more {
  display: none;
}
.arrow{
  display: none;
}

@media screen and (max-width: 768px) {
  .more {
    display: block;
    background-color: #00000000;
    border: none;
  }
  .more img {
    width: 40px;
  }
  .menu a,
  .register {
    display: none;
  }
  .container {
    width: 760px;
  }
  
  .content {
    max-width: 600px;
  }
  .stuff {
    margin: auto;
    margin-top: 150px;
    gap: 30px;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  .stuff .title h1 {
    font-size: 20px;
  }
  .stuff .thing {
    width: 300px;
  }
  .partner .photos {
    display: grid;
    gap: 20px;
    row-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
  .h {
    display: flex;
    margin-top: 60px;
  }
  .h h1 {
    width: 30%;
  }
  .h p {
    width: 60%;
  }
  .cards {
    flex-direction: column;
  }
  .div1 .content {
    flex-direction: column;
  }
  .div2 .content {
    flex-direction: column;
  }
  .div3{
    max-width: 676px;
    height: 370px;
  }
  .div3 .content {
    flex-direction: column;
    max-width: 576px;
    height: 250px;
  }
  .div3 .content .flex{
    flex-direction: column;
  }
  .grid{
    grid-template-columns: repeat(1, 1fr);
  }
  .div2 .info{
    display: none;
  }
  .info1{
    width: 485px;
    margin-left: 42px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  .footer .footer-logo{
    margin-bottom: 50px;
    align-items: center;
    margin-right: 0;
  }
  .footer .content .company-info{
    flex-direction: column;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 640px) {
  .partner .flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: center;
  }
  .partner .arrow{
    display: block;
    width: 50px;
    margin-top: -14px;
  }
  .partner h3{
    font-size: 30px;
  }
  .partner .photos{
    grid-template-columns: repeat(2, 1fr);
     

  }
  .container {
    width: 580px;
  }
  .content {
    max-width: 450px;
  }
  .div3{
    max-width: 576px;
    height: 420px;
  }
  .div3 .content {
    flex-direction: column;
    max-width: 476px;
    height: 250px;
  }

.other-info{
  gap: 30px;
}

.cards .card {
  height: 346px;
  width: 300px;
}

.testimony .survey {
  width: 435px;
  height: 288px;
  padding: 32px 0px 0px 0px;
  gap: 40px;
  border-radius: 32px 0px 0px 0px;
  box-shadow: 0px 24px 32px -3px #0309320a;
}
.testimony .survey .frame {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 224px;
  gap: 32px;
}

.h {
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}
.h h1 {
  width:100%;
  text-align: center;
}
.h p {
  width: 100%;
}
}